{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@components(.*)$",
		"^@hooks(.*)$",
		"^@services(.*)$",
		"^@redux(.*)$",
		"^@rootTypes(.*)$",
		"^@static(.*)$",
		"^../(.*)",
		"^./(.*)",
		"^(.css)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
