.container {
	padding-top: 20px;
	width: 100%;
	max-width: auto;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 48px;
	font-weight: 400;
}

.table {
	height: 100%;
}
